*.*~
*.bak
*.class
*.class
*.db
*.ear
*.ear
*.ids
*.iml
*.iml
*.ipr
*.iws
*.jar
*.jar
*.launch
*.log
*.orig
*.pydevproject
*.swp
*.tmp
*.war
*.war
*~
*~.nib
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DS_Store
.LSOverride
.Spotlight-V100
.Spotlight-V100
.Trashes
.Trashes
._*
._*
.apdisk
.buildpath
.classpath
.cproject
.externalToolBuilders/**
.gradle/**
.idea/
.idea/**
.loadpath
.merge_file*
.metadata
.mtj.tmp/
.project
.sass-cache/**
.settings/**
.svn
/bin/**
/bin/**
/build/**
/deploy/**
/log/**
/node/**
/node_modules/**
/spring_loaded/**
/src/main/resources/rebel.xml
/src/main/webapp/assets/styles/main.css
/src/main/webapp/dist
/target/**
/tmp/**
/tmp/**/*
Desktop.ini
Icon
Network Trash Folder
Temporary Items
Thumbs.db
hs_err_pid*
local.properties
out/
target/